{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
		    <li class="active">Bag List</li>
                </ol>
                <h1>Food Pantry Management System <small>Bag List</small></h1>
                <hr>
            </div>
        </div>
    </div><!-- /.container -->
    <div class="container">
      {% if bags %}
      <table class="table table-hover">
	<tr>
	  <th></th>
	  <th>Bag Name</th>
	  <th>No. of Items</th>
	  <th>No. of Clients</th>
	  <th>Cost</th>
	</tr>
        {% for bag in bags %}
	<tr>
	  <td> <a href="/viewEditBag/{{ bag['bagnameEnc'] }}" class="btn btn-success">View/Edit</a></td>
	  <td> {{ bag['bag_name'] }} </td>
	  <td> {{ bag['numitems'] }} </td>
	  <td> {{ bag['numclients'] }} </td>
	  <td> {{ bag['cost'] }} </td>
	</tr>
	{% endfor %}
	</table>
      {% else %}
      No Bags Found.
      {% endif %}
    </div>
</div>
{% endblock %}
