{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">Home</li>
                </ol>
                <h1>Food Pantry Management System <small>CS4400 Final Project</small></h1>
                <hr>
            </div>
        </div>
    </div><!-- /.container -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail center">
                    <center>
                        <embed src="static/img/house.svg" type="image/svg+xml"/>
                        <div class="caption">
                            <h3>Pickups</h3>
                        </div>
                    </center>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail center">
                    <center>
                        <br/>
                        <embed src="static/img/food.svg" type="image/svg+xml"/>
                        <div class="caption">
                            <h3>Bags</h3>
                        </div>
                    </center>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail center">
                    <center>
                        <embed src="static/img/dropoff.svg" type="image/svg+xml"/>
                        <div class="caption">
                            <h3>Dropoffs</h3>
                        </div>
                    </center>
                </a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="thumbnail center">
                    <center>
                        <embed src="static/img/users.svg" type="image/svg+xml"/>
                        <div class="caption">
                            <h3>Clients</h3>
                        </div>
                    </center>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail center">
                    <center>
                        <embed src="static/img/report.svg" type="image/svg+xml"/>
                        <div class="caption">
                            <h3>Service Report</h3>
                        </div>
                    </center>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail center">
                    <center>
                        <embed src="static/img/products.svg" type="image/svg+xml"/>
                        <div class="caption">
                            <h3>Products</h3>
                        </div>
                    </center>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

