{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
	<ol class="breadcrumb">
          <li><a href="/">Home</a></li>
	  <li><a href="/clients/">Clients</a></li>
	  <li class="active">New Client</li>
        </ol>
	<h1> Add A New Client <small>Food Pantry Management System</small></h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p> I don't want to do this yet. Cheers! </p>
    </div>
  </div>
</div>
{% endblock %}
