
{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
	<ol class="breadcrumb">
          <li><a href="/">Home</a></li>
	  <li><a href="/clients/">Clients</a></li>
	  <li class="active">New Client</li>
        </ol>
	<h1> Add A New Client <small>Food Pantry Management System</small></h1>
      </div>
    </div>
    <br>
      <table class="table table-hover">

      {% from "_form_helpers.html" import render_field %}
      <form class="form" method="post" action="/clients/new/">
	<h1 class="form-heading text-muted">New Client</h1>

	{{ render_field(form.pick_up_day) }}
	{{ render_field(form.first_name) }}
	{{ render_field(form.last_name) }}
	{{ render_field(form.gender) }}
	{{ render_field(form.birthdate) }}
	{{ render_field(form.street) }}
	{{ render_field(form.apartment_num)}}
	{{ render_field(form.city) }}
	{{ render_field(form.state) }}
	{{ render_field(form.zipcode) }}
	{{ render_field(form.phone) }}
	{{ render_field(form.aid) }}
	{{ render_field(form.bag) }}
	{{ render_field(form.start_date) }}
	{{ render_field(form.delivery) }}
	<button class="btn btn-lg btn-primary btn-block" type="submit">
		Submit
        </button>
      </form>
      </table>
    </br>
  </div>
</div>
{% endblock %}
