{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
	<ol class="breadcrumb">
          <li><a href="/">Home</a></li>
	  <li class="active">Products</li>
        </ol>
	<h1> Product Portal <small>Food Pantry Management System</small></h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
	<a href="list/" class="thumbnail center">
          <center>
            <img src="/static/img/list.png" width=150/>
            <div class="caption">
              <h3>Product List</h3>
            </div>
          </center>
        </a>
      </div>
      <div class="col-md-6">
	<a href="new/" class="thumbnail center">
          <center>
	    <img src="/static/img/new.png" width=150/>
            <div class="caption">
              <h3>New Product</h3>
            </div>
          </center>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}